@model EventEase.Models.BookingViewViewModel

<h1>Create</h1>

<form method="post" enctype="multipart/form-data">
	<div class="container">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="EventName" class="control-label">Event Name</label>
			<input asp-for="EventName" class="form-control" />
			<span asp-validation-for="EventName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="EventDate" class="control-label">Event Date</label>
			<input asp-for="EventDate" class="form-control" />
			<span asp-validation-for="EventDate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ImageURL" class="control-label">ImageURL</label>
			<input type="file" name="ImageURL" class="form-control" accept="image/*"/>
			<span asp-validation-for="ImageURL" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Location" class="control-label">Location</label>
			<input asp-for="Location" class="form-control" />
			<span asp-validation-for="Location" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Capacity" class="control-label" >Capacity</label>
			<input asp-for="Capacity" class="form-control" type="number" min="0" value="0" />
			<span asp-validation-for="Capacity" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="VenueName" class="control-label" >VenueName</label>
			<input asp-for="VenueName" class="form-control" />
			<span asp-validation-for="VenueName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BookingDate" class="control-label" >BookingDate</label>
			<input asp-for="BookingDate" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Description" class="control-label" >Description</label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn-primary mt-3">Add BookingView</button>
		</div>
	</div>
</form>
